<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: "shared/participant_aside", locals: { participant: @participant } %>
    </div>
    <div class="col-md-8">
      <%= render partial: "shared/participant_main", locals: { participant: @participant } %>
    </div>
  </div>
</div>
