<div class="container">
  <div class="row">
    <%= render partial: "shared/participants_landing_column", locals: { participants: @participants } %>
    <%= render partial: "shared/games_landing_column", locals: { games: @games } %>
    <%= render partial: "shared/seasons_landing_column", locals: { seasons: @seasons } %>
  </div>
</div>
