
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="list-group">
        <div class="list-group-item list-group-item-action seasons">
          <h5 class="list-group-item-heading">Game #<%= @game.id %></h5>
          <p class="list-group-item-text"><%= @game.full_formatted_date %></p>
        </div>

        <div class="list-group-item">
          <h6>Current Players</h6>
          <div id="playersOnly">
          </div>
        </div>

        <div class="list-group-item ">
          <input type="text" name="name" value="" id="newPlayer" data-provide="typeahead" class="typeahead" placeholder="Player Name">
          <input type="button" name="name" value="add" id="newPlayerButton">
        </div>

        <!--
          <div class="list-group-item list-group-item-action">
           <select name="player_count" id="player_count" class="form-control">
            <option value="">Make a Choice</option>
            <% [*5..20].each do |i| %>
              <option value="<%= i %>"><%= i %></option>
            <% end %>
          </select>
        </div>
      -->
        <div class="list-group-item" >
          <h6>Eliminated Players</h6>
            <div id="eliminatedPlayers">
            </div>
        </div>
      </div>
      <input type="button" name="name" value="submit" class="btn btn-primary gameSubmit" id="gameSubmit">

    </div>
  </div>
</div>
