$(document).ready(function() {
  var playerArray = []
  playerArray = $.getJSON('/api/v1/participants', function (participants) {
		for (var i = 0; i < participants.length; i++) {
			participants[i].name = participants[i].first_name +" " + participants[i].last_name
		}
		var $input = $('.typeahead')
		$input.typeahead({ source:participants })
		$input.change(function() {
			  var current = $input.typeahead("getActive");
		    if (current) {
		        if (current.name == $input.val()) {
								console.log(current)
								$input.val("")
								addPlayer(current)
		        }
		    }
		});
  })

	$("#newPlayerButton").click(function(){
		var name = $('.typeahead').val()
		if(name){
			addPlayer({name: name , id: 0});
			$('.typeahead').val("");
		}
	})
	$("#submit").click(function(){
		var data = getFinishers()
		var chars = window.location.pathname.split('');
		var gameId= chars[7]+chars[8];
		console.log(gameId)
		$.ajax({
		    url: '/api/v1/games/'+ gameId,
		    type: 'patch',
		    data: JSON.stringify(data),
		    contentType: 'application/json; charset=utf-8',
		    dataType: 'json',
		    async: false,
		    success: function(msg) {
		        // alert(msg);
		    }
		});
	})
})

function addPlayer(player) {

  $("#playersOnly").prepend(''+
	'<div class="player" data-id="'+ player.id + '" data-name="' + player.name +'">' +
		player.name +
		'<input type="button" name="name" value="eliminated" class="elim" data-name="' + player.name +'">' +
	'</div>')

	$(".player").on('click','input[data-name="'+ player.name +'"]', function(){
		eliminatePlayer(player)
	});
}

var sadTrombone = new Audio("<%= asset_path('Sad_Trombone.wav') %>");

var eliminatePlayer = function(player){
	sadTrombone.play();
	$('input[data-name="'+ player.name +'"]').parent().remove()

	$("#eliminatedPlayers").prepend(''+
	'<div class="player" data-id="'+ player.id + '" data-name="' + player.name +'">' +
		player.name +
	'</div>')
}

var getFinishers = function(){
	var finishers = []
  var players = $("#eliminatedPlayers").children()
	$("#eliminatedPlayers").children().each(function(index){
    var player = {
        name: $(players[index]).data("name"),
        id: $(players[index]).data("id"),
        buyBack: false
    }
    finishers.push(player)
  })


  console.log(finishers)
	return finishers;
}
